<% provide(:title, 'New Investigation') %>

<div class="row-fluid">
  <div id="aboutus">
    <div class="container">
      <div class="padd" style="padding:30px 10px 10px 10px">
        <div class="section_header">
          <div class="row-fluid">
            <h3>Start a New Investigation</h3>
          </div><br/>
          <div class="row-fluid">
            <div class="span6">
              <%= form_for @investigation, :html => {:multipart => true} do |f| %>

                <%= render 'shared/error_messages', object: f.object %>

                <%= f.label :Title %>
                <%= f.text_field :title %>

                <%= f.label :Description %>
                <%= f.text_area :content %>

                <%= f.label :Image %>
                <%= f.file_field :investigationimage, :class => "file_field" %><br clear="all">
                *Upload large images for the investigation cover art.  You will be able to crop & resize after submitting.
                <br clear="all"><br/>
                <%= f.submit "Create this Investigation", class: "btn btn btn-info" %>
              <% end %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
