<% provide(:title, @investigation.title) %>
    
<div class="row-fluid">
  
  <div id="aboutus">
      <div class="container">
        <div class="padd" style="padding: 0px 0px 10px 10px">
          <div class="section_header cover_art">
            <div class="whitetitle">
              <h3><%= @investigation.title %></h3>
              <%= render 'shared/investigationstats' %>
            </div>
            <div class="follow-button">
              <%= render 'follow_form' if signed_in? %>
            </div>
          </div>
          
          <%= link_to "Add a Person of Interest", new_investigation_player_path(@investigation.id), :class => "btn btn-info" %> <%= link_to "Submit Evidence", new_investigation_exhibit_path(@investigation.id), :class => "btn btn-info" %> <%= link_to "Post a Theory", :class => "btn btn-info" %>
          
          <!--
          <div class="row-fluid">
              <div class="span6 intro">
                  <h6>Investigation Wiki</h6>
                  <p><%= @investigation.content %></p>
                  <span class="timestamp">
                    Investigation created <%= time_ago_in_words(@investigation.created_at) %> ago.
                  </span>
              </div>
              <div class="span6 flexslider">
                    <ul class="slides">
                      <li>
                        <%= image_tag @investigation.investigationimage_url.to_s %>
                      </li>
                      
                      <li>
                        <%= image_tag @investigation.investigationimage_url.to_s %>
                      </li>
                      <li>
                        <%= image_tag @investigation.investigationimage_url.to_s %>
                      </li>
                      
                    </ul>
              </div>
          </div>
          -->
          
        </div>
      </div>
  </div>

  <div id="team">
      <div class="container">
          <div class="section_header">
              <h3>Persons of Interest</h3>
          </div>

          <div class="row people">
              <div class="row-fluid row1">
                
                <% @investigation.players.each do |player| %>
                
                  <div class="span3 bio_box">

                    <%= link_to investigation_player_path(@investigation, player) do %>
                      <%= image_tag player.playerimage_url(:search).to_s, :class => :player %>
                      <div class="info">
                          <p class="name"><%= player.name %></p>
                          <p class="area">Suspect</p>
                      </div>
                    <% end %>

                  </div>
                  
                <% end %>
 
              </div>
              
          </div>
      </div>
  </div>

<div class="container">
  
</div>

  <div id="process">
      <div class="container">
          <div class="section_header">
              <h3>Recently Submitted Evidence</h3>
          </div>

            <% @investigation.exhibits.first(3).each do |exhibit| %>
            
            <div class="row-fluid services_circles">
            
              <%= link_to investigation_exhibit_path(@investigation, exhibit) do %>
                <div class="media">
                  <div class="pull-left">
                    <%= exhibit.media_html %>
                  </div>
                  <div class="media-body">
                    <div class="row-fluid">
                      <div class="span10">
                        <h4 class="media-heading"><%= exhibit.name %></h4>
                        <p><%= exhibit.content %></p>
                      </div>
              <% end %>
                      <div class="span2">
                        upvote
                      </div>
                    </div>
                  </div>
                </div>
      
              
            </div>
            
            <% end %>

            <!-- old code for circles effect

              <div class="span7 areas">
                  <div class="circle active">
                      <img src="img/plan.png" />
                      <span>View</span>
                  </div>
                  <div class="circle">
                      <img src="img/develop.png" />
                      <span>Evidence</span>
                  </div>
                  <div class="circle last_circle">
                      <img src="img/design.png" />
                      <span>Room</span>
                  </div>
              </div>
              
            -->
       
          <div class="row-fluid services_circles">
            
            <div class="media">
              <a class="pull-left" href="#">
                <%= image_tag("marathon.jpg", :class => "media-object", :width => 100) %>
              </a>
              <div class="media-body">
                <h4 class="media-heading">Suspect Photo Street View</h4>
                <p>
                    There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>

              </div>
            </div>          
          </div>
  
      </div>
  </div>
  
  <br clear="all">
  
  <!--
  <div id="process">
      <div class="container">
          <div class="section_header">
              <h3>Recently Submitted Theories</h3>
          </div>
          <div class="row-fluid services_circles">
              <div class="span4 description">
                  <div class="text active">
                      <h4>View the Evidence Room</h4>
                      <p>
                          There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>
                  </div>
                  <div class="text">
                      <h4>Develop your product or service.</h4>
                      <p>
                          There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to 
                          making this the first true generator  Internet.</p>
                  </div>
                  <div class="text">
                      <h4>Design this theme to your needs.</h4>
                      <p>
                          There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.</p>
                  </div>
              </div>

              <div class="span7 areas">
                  <div class="circle active">
                      <img src="img/plan.png" />
                      <span>Plan</span>
                  </div>
                  <div class="circle">
                      <img src="img/develop.png" />
                      <span>Develop</span>
                  </div>
                  <div class="circle last_circle">
                      <img src="img/design.png" />
                      <span>Design</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  -->
  
</div><!-- end Row -->
