<% provide(:title, 'Submit New Evidence') %>

<div class="row-fluid">
  <div id="aboutus">
    <div class="container">
      <div class="padd" style="padding:30px 10px 10px 10px">
        <div class="section_header">
          <div class="row-fluid">
            <h3>Submit evidence to this investigation</h3>
          </div><br/>
          <div class="row-fluid">
            <div class="span6">
              <%= form_for @exhibit, :url => investigation_exhibits_path, :html => {:multipart => true} do |f| %>

                <%= render 'shared/error_messages', object: f.object %>

                <%= f.label :Name %>
                <%= f.text_field :name %>

                <%= f.label :Background %>
                <%= f.text_area :content %>

                <%= f.label :Media %>
                <%= f.text_field :media %>

                <div class="categories">
                <%= f.label :Category %>
                  <% Category.all.each do |category| %>
                  <div class="category">
                    <%= check_box_tag "exhibit[category_ids][]", category.id %>
                    <%= category.name %>
                  </div>
                  <% end %>
                </div>
                <br clear="all">

                <%= f.submit "Add this Evidence", class: "btn btn btn-info" %>
              <% end %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>