<% provide(:title, 'New Person of Interest') %>

<div class="row-fluid">
  <div id="aboutus">
    <div class="container">
      <div class="padd" style="padding:30px 10px 10px 10px">
        <div class="section_header">
          <div class="row-fluid">
            <h3>Add a Person of Interest</h3>
          </div><br/>
          <div class="row-fluid">
            <div class="span6">
              <%= form_for @player, :url => investigation_players_path, :html => {:multipart => true} do |f| %>

                <%= render 'shared/error_messages', object: f.object %>

                <%= f.label :Name %>
                <%= f.text_field :name %>

                <%= f.label :Background %>
                <%= f.text_area :content %>

                <%= f.label :Image %>
                <%= f.file_field :playerimage, :class => "file_field" %>

                <%= f.submit "Add this Person of Interest", class: "btn btn-large btn-info" %>
              <% end %>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
